* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-two {
    background-color: rgba(246, 246, 246, 255);
}

.section_2_column-container {
    display: flex;
    width: 80%;
    margin: 50px auto;
    padding: 30px;
}

.section_2_small-column {
    width: 40%;
}

.section_2_titolo-sezione {
    font-size: 50px;
    margin-bottom: 20px;
}

.section_2_paragrafo-sezione {
    font-size: 20px;
}